Repository openfoodfacts/openfoodfacts-web, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, üìñ Knowledge panels, Crowdin, üß¥ Open Beauty Facts, üçä Open Food Facts, üêæ Open Pet Food Facts, üì∏ Open Products Facts, Eco-Score, üóûÔ∏è Press - Presskit Eco-Score, üö• Nutri-Score, 2019 Roadmap, Advanced user guide, better-food-choices-for-a-better-health-lets-mobilize, Code of conduct, Contact page, Press - contacts, contribute-to-open-food-facts-by-playing, contribute, COP 26, data, üë©‚Äçüíª Developers, discover, üéÅ donations, education, üö• Experimental nutrition score france, ‚ùì FAQ, feuille-de-route-2012, google-impact-challenge-on-climate, google-summer-of-code, graphs-in-3-clicks, help-complete-products, help-us-fill-up-on-fiber, how-to-add-a-product, how-to-complete-products-on-android, üè≠ Producers - Index Pro, index, ingredient-detector, üçé iPhone, üóûÔ∏è Press - keyfacts, legal, üß¥ Logo Open Beauty Facts, üçä Logo Open Food Facts, missions-texts, missions, ü§≥ü•´ Mobile app - Open Food Facts, Nova - Ultra-processed foods, üóûÔ∏è Press - numbers-selected, nutrients-list, nutrition-score-france, nutrition-score-uk, nutrition-traffic-lights, open-food-facts-vision-mission-values-and-programs, open-food-hunt-2015, operation-sodas, ü§ù Partners, presentations, üóûÔ∏è Press and blogs, üóûÔ∏è Press old, üóûÔ∏è Press, üóûÔ∏è Presskit - Country Selection, üè≠ Producers, product-preferences, products, Rate your vending machine, Scan parties, Science, üì® Brevo, Smoothie, üç¨ Sugar, terms of use, update-a-product-from-the-mobile-app, Who we are

.github/labeler.yml:

github_actions:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'

üìñ Knowledge panels:
- changed-files:
  - any-glob-to-any-file: 'knowledge_panels/**/*'
  - any-glob-to-any-file: 'crowdin-kp.yml'
  - any-glob-to-any-file: 'lang/*/knowledge_panels/**/*'
  
Crowdin:
- changed-files:
  - any-glob-to-any-file: 'crowdin.yml'
  - any-glob-to-any-file: 'crowdin-kp.yml'
  - any-glob-to-any-file: 'crowdin-html.yml'
  
üß¥ Open Beauty Facts:
- changed-files:
  - any-glob-to-any-file: '**/*obf*'
  - any-glob-to-any-file: 'lang/obf/en/texts/open-beauty-facts-mobile-app.html'

üçä Open Food Facts:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/mobileapp/features/fooddecyphering.html'

üêæ Open Pet Food Facts:
- changed-files:
  - any-glob-to-any-file: '**/*opff*'

üì∏ Open Products Facts:
- changed-files:
  - any-glob-to-any-file: '**/*opf*'

Eco-Score:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/ecoscore/**/*'
  - any-glob-to-any-file: 'lang/en/texts/eco-score-the-environmental-impact-of-food-products.html'
  - any-glob-to-any-file: 'lang/en/texts/ecoscore-computation.html'

üóûÔ∏è Press - Presskit Eco-Score:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/presskit-ecoscore.html'

üö• Nutri-Score:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/nutriscore/**/*'
  - any-glob-to-any-file: 'lang/en/texts/open-food-facts-and-the-nutriscore.html'
  - any-glob-to-any-file: 'lang/en/texts/nutriscore-formula.html'
  - any-glob-to-any-file: 'lang/en/texts/nutriscore.html'

2019 Roadmap:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/2019-roadmap.html'

Advanced user guide:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/advanced-user-guide.html'

better-food-choices-for-a-better-health-lets-mobilize:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/better-food-choices-for-a-better-health-lets-mobilize.html'

Code of conduct:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/code-of-conduct.html'

Contact page:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/contact.html'

Press - contacts:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/contacts.html'

contribute-to-open-food-facts-by-playing:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/contribute-to-open-food-facts-by-playing.html'

contribute:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/contribute.html'

COP 26:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/cop26/**/*'

data:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/data.html'

üë©‚Äçüíª Developers:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/dev-android.html'
  - any-glob-to-any-file: 'lang/en/texts/dev-artificial-intelligence.html'
  - any-glob-to-any-file: 'lang/en/texts/dev-emerging.html'
  - any-glob-to-any-file: 'lang/en/texts/dev-general.html'
  - any-glob-to-any-file: 'lang/en/texts/dev-ios.html'
  - any-glob-to-any-file: 'lang/en/texts/dev-server.html'
  - any-glob-to-any-file: 'lang/en/texts/development.html'

discover:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/discover.html'

üéÅ donations:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/donate.html'

education:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/education.html'

üö• Experimental nutrition score france:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/experimental-nutrition-score-france.html'

‚ùì FAQ:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/faq.html'

feuille-de-route-2012:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/feuille-de-route-2012.html'

google-impact-challenge-on-climate:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/google-impact-challenge-on-climate.html'

google-summer-of-code:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/google-summer-of-code.html'

graphs-in-3-clicks:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/graphs-in-3-clicks.html'

help-complete-products:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/help-complete-products.html'

help-us-fill-up-on-fiber:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/help-us-fill-up-on-fiber.html'

how-to-add-a-product:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/how-to-add-a-product.html'

how-to-complete-products-on-android:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/how-to-complete-products-on-android.html'

üè≠ Producers - Index Pro:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/index-pro.html'

index:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/index.html'

ingredient-detector:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/ingredient-detector.html'

üçé iPhone:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/iphone.html'

üóûÔ∏è Press - keyfacts:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/keyfacts.html'

legal:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/legal.html'

üß¥ Logo Open Beauty Facts:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/logo-obf.html'

üçä Logo Open Food Facts:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/logo.html'

missions-texts:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/missions-texts.html'

missions:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/missions.html'

ü§≥ü•´ Mobile app - Open Food Facts:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/mobile-app-open-food-facts.html'

Nova - Ultra-processed foods:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/nova.html'
  - any-glob-to-any-file: 'lang/en/texts/processing/**/*'

üóûÔ∏è Press - numbers-selected:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/numbers-selected.html'

nutrients-list:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/nutrients-list.html'

nutrition-score-france:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/nutrition-score-france.html'

nutrition-score-uk:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/nutrition-score-uk.html'

nutrition-traffic-lights:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/nutrition-traffic-lights.html'

open-food-facts-vision-mission-values-and-programs:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/open-food-facts-vision-mission-values-and-programs.html'

open-food-hunt-2015:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/open-food-hunt-2015.html'

operation-sodas:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/operation-sodas.html'

ü§ù Partners:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/partners.html'

presentations:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/presentations.html'

üóûÔ∏è Press and blogs:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/press-and-blogs.html'

üóûÔ∏è Press old:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/press-old.html'

üóûÔ∏è Press:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/press.html'

üóûÔ∏è Presskit - Country Selection:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/presskit_de_CH_selection.html'
  - any-glob-to-any-file: 'lang/en/texts/presskit_de_DE_selection.html'
  - any-glob-to-any-file: 'lang/en/texts/presskit_en_AU_selection.html'
  - any-glob-to-any-file: 'lang/en/texts/presskit_en_UK_selection.html'
  - any-glob-to-any-file: 'lang/en/texts/presskit_es_ES_selection.html'
  - any-glob-to-any-file: 'lang/en/texts/presskit_fr_BE_selection.html'
  - any-glob-to-any-file: 'lang/en/texts/presskit_fr_CH_selection.html'
  - any-glob-to-any-file: 'lang/en/texts/presskit_fr_FR_selection.html'
  - any-glob-to-any-file: 'lang/en/texts/presskit_it_CH_selection.html'
  - any-glob-to-any-file: 'lang/en/texts/presskit_it_IT_selection.html'
  - any-glob-to-any-file: 'lang/en/texts/presskit_nl_BE_selection.html'
  - any-glob-to-any-file: 'lang/en/texts/presskit_other_languages.html'
  - any-glob-to-any-file: 'lang/en/texts/presskit_pt_BR_selection.html'
  - any-glob-to-any-file: 'lang/en/texts/presskit_pt_PT_selection.html'
  - any-glob-to-any-file: 'lang/en/texts/presskit_selection.html'
  - any-glob-to-any-file: 'lang/en/texts/presskit_vi_VI_selection.html'

üè≠ Producers:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/producers.html'

product-preferences:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/product-preferences.html'

products:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/products.html'

Rate your vending machine:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/rateyourvendingmachine.html'

Scan parties:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/scan-parties.html'

Science:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/science.html'

üì® Brevo:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/sendinblue.html'

Smoothie:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/smoothie/**/*'

üç¨ Sugar:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/sugar.html'

terms of use:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/terms-of-use.html'

update-a-product-from-the-mobile-app:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/update-a-product-from-the-mobile-app.html'

Who we are:
- changed-files:
  - any-glob-to-any-file: 'lang/en/texts/who-we-are.html'

New translations numbers-selected.html (Serbian (Cyrillic))
  lang/sr_RS/texts/numbers-selected.html
Labels: none

New translations sendinblue.html (Swati)
  lang/ss/texts/sendinblue.html
Labels: none

New translations numbers-selected.html (Swati)
  lang/ss/texts/numbers-selected.html
Labels: none

New translations sendinblue.html (Southern Sotho)
  lang/st/texts/sendinblue.html
Labels: none

New translations numbers-selected.html (Southern Sotho)
  lang/st/texts/numbers-selected.html
Labels: none

New translations sendinblue.html (Swedish)
  lang/sv/texts/sendinblue.html
Labels: none

New translations numbers-selected.html (Swedish)
  lang/sv/texts/numbers-selected.html
Labels: none

New translations sendinblue.html (Tswana)
  lang/tn/texts/sendinblue.html
Labels: none

New translations numbers-selected.html (Tswana)
  lang/tn/texts/numbers-selected.html
Labels: none

New translations sendinblue.html (Turkish)
  lang/tr/texts/sendinblue.html
Labels: none

New translations numbers-selected.html (Turkish)
  lang/tr/texts/numbers-selected.html
Labels: none

New translations sendinblue.html (Tsonga)
  lang/ts/texts/sendinblue.html
Labels: none

New translations numbers-selected.html (Tsonga)
  lang/ts/texts/numbers-selected.html
Labels: none

New translations sendinblue.html (Ukrainian)
  lang/uk/texts/sendinblue.html
Labels: none

New translations numbers-selected.html (Ukrainian)
  lang/uk/texts/numbers-selected.html
Labels: none

New translations sendinblue.html (Venda)
  lang/ve/texts/sendinblue.html
Labels: none

New translations numbers-selected.html (Venda)
  lang/ve/texts/numbers-selected.html
Labels: none

New translations sendinblue.html (Xhosa)
  lang/xh/texts/sendinblue.html
Labels: none

New translations numbers-selected.html (Xhosa)
  lang/xh/texts/numbers-selected.html
Labels: none

New translations sendinblue.html (Chinese Simplified)
  lang/zh_CN/texts/sendinblue.html
Labels: none

New translations numbers-selected.html (Chinese Simplified)
  lang/zh_CN/texts/numbers-selected.html
Labels: none

New translations sendinblue.html (Chinese Traditional)
  lang/zh_TW/texts/sendinblue.html
Labels: none

New translations numbers-selected.html (Chinese Traditional)
  lang/zh_TW/texts/numbers-selected.html
Labels: none

New translations sendinblue.html (Zulu)
  lang/zu/texts/sendinblue.html
Labels: none

New translations numbers-selected.html (Zulu)
  lang/zu/texts/numbers-selected.html
Labels: none

New translations data.html (English)
  lang/en/texts/data.html
Labels: data

New translations sendinblue.html (English)
  lang/en/texts/sendinblue.html
Labels: üì® Brevo

New translations numbers-selected.html (English)
  lang/en/texts/numbers-selected.html
Labels: üóûÔ∏è Press - numbers-selected

New translations contribute-to-open-food-facts-by-playing.html (English)
  lang/en/texts/contribute-to-open-food-facts-by-playing.html
Labels: contribute-to-open-food-facts-by-playing

New translations sendinblue.html (Vietnamese)
  lang/vi/texts/sendinblue.html
Labels: none

New translations numbers-selected.html (Vietnamese)
  lang/vi/texts/numbers-selected.html
Labels: none

New translations sendinblue.html (Galician)
  lang/gl/texts/sendinblue.html
Labels: none

New translations numbers-selected.html (Galician)
  lang/gl/texts/numbers-selected.html
Labels: none

New translations sendinblue.html (Icelandic)
  lang/is/texts/sendinblue.html
Labels: none

New translations numbers-selected.html (Icelandic)
  lang/is/texts/numbers-selected.html
Labels: none

New translations sendinblue.html (Portuguese, Brazilian)
  lang/pt_BR/texts/sendinblue.html
Labels: none

New translations numbers-selected.html (Portuguese, Brazilian)
  lang/pt_BR/texts/numbers-selected.html
Labels: none

New translations sendinblue.html (Indonesian)
  lang/id/texts/sendinblue.html
Labels: none

New translations numbers-selected.html (Indonesian)
  lang/id/texts/numbers-selected.html
Labels: none

New translations sendinblue.html (Persian)
  lang/fa/texts/sendinblue.html
Labels: none
