Repository openfoodfacts/openfoodfacts-web, pull requests merged in 2022-11, with the labels that each got.

#311 feat: standardize open-food-facts-mobile-app
  crowdin.yml
  lang/en_AU/texts/open-food-facts-mobile-app.html
  lang/es/texts/open-food-facts-mobile-app.html
  lang/fr/texts/open-food-facts-mobile-app.html
  lang/hi/texts/open-food-facts-mobile-app.html
  lang/kmr/texts/open-food-facts-mobile-app.html
  lang/ku/texts/open-food-facts-mobile-app.html
  lang/me/texts/open-food-facts-mobile-app.html
  lang/nl/texts/open-food-facts-mobile-app.html
  lang/nl_BE/texts/open-food-facts-mobile-app.html
  lang/nl_NL/texts/open-food-facts-mobile-app.html
  lang/pt_BR/texts/open-food-facts-mobile-app.html
  lang/pt_PT/texts/open-food-facts-mobile-app.html
  lang/ry/texts/open-food-facts-mobile-app.html
  lang/sh/texts/open-food-facts-mobile-app.html
  lang/sr_CS/texts/open-food-facts-mobile-app.html
  lang/sr_RS/texts/open-food-facts-mobile-app.html
  lang/zh_CN/texts/open-food-facts-mobile-app.html
  lang/zh_TW/texts/open-food-facts-mobile-app.html
Labels: crowdin

#318 feat: new contributors skill pool form
  lang/en/texts/contribute.html
  lang/fr/texts/application-mobile-open-food-facts.html
  lang/fr/texts/contribuer.html
Labels: contribute

#324 feat: Refresh the ecoscore page with new visuals, better links and updated donation link
  lang/en/texts/eco-score-the-environmental-impact-of-food-products.html
Labels: ecoscore
