Repository openfoodfacts/openfoodfacts-web, pull requests merged in 2022-03, with the labels that each got.

#231 fix: Add csv.gz
  lang/en/texts/data.html
Labels: data

#237 Update GSOC page with next steps and expectations
  lang/en/texts/google-summer-of-code.html
Labels: google-summer-of-code

#236 feat: Add producer FAQ to the index-pro.html
  lang/en/texts/index-pro.html
Labels: index-pro

#240 doc: Add XML API example
  lang/en/texts/data.html
Labels: data
