Repository openfoodfacts/openfoodfacts-web, pull requests merged in 2023-09, with the labels that each got.

#451 feat: Start revamping Open Food Facts in numbers according to the press dossier image
  html/images/misc/presskit/contributors.svg
  html/images/misc/presskit/index.txt
  html/images/misc/presskit/languages.svg
  html/images/misc/presskit/papers.svg
  html/images/misc/presskit/products.svg
  html/images/misc/presskit/reuses.svg
  html/images/misc/presskit/users.svg
  lang/en/texts/numbers-selected.html
Labels: press, numbers-selected

#457 fix: Presskit fixes
  lang/en/texts/cop26/blocks/new-ecoscore-presskit.html
  lang/en/texts/logo.html
  lang/en/texts/presskit-rss.html
  lang/en/texts/presskit.html
  lang/en/texts/presskit_selection.html
Labels: cop-26, logo, presskit_country_selection

#459 feat: add a landing page for the mobile app
  lang/en/texts/open-food-facts-mobile-app.html
Labels: P0, landing page

#466 feat: add UTM parameters to stores on app page
  lang/en/texts/contribute.html
  lang/en/texts/discover.html
  lang/en/texts/eco-score-the-environmental-impact-of-food-products.html
  lang/en/texts/google-impact-challenge-on-climate.html
  lang/en/texts/nutriscore/mobile-app-promo-nutriscore.html
  lang/en/texts/open-food-facts-mobile-app.html
  lang/en/texts/processing/mobile-app-promo-processing.html
  lang/en/texts/product-count.html
Labels: ecoscore, discover, nova, nutriscore, contribute, google-impact-challenge-on-climate

#483 chore: New Crowdin translations to review and merge
  lang/he/texts/open-food-facts-mobile-app.html
  lang/id/texts/partners.html
  lang/id/texts/producers.html
  lang/lt/emails/user_welcome.html
  lang/lt/texts/contribute-to-open-food-facts-by-playing.html
  lang/lt/texts/contribute.html
  lang/lt/texts/discover.html
  lang/lt/texts/index.html
  lang/lt/texts/nutriscore/nutriscore-a-points-table.html
  lang/lt/texts/nutriscore/nutriscore-drinks-table.html
  lang/lt/texts/nutrition-score-uk.html
  lang/lt/texts/partners.html
  lang/lt/texts/product-count.html
  lang/obf/lt/texts/contribute.html
  lang/obf/tr/texts/data.html
  lang/opf/tr/texts/data.html
  lang/opff/tr/texts/data.html
  lang/pt_BR/texts/processing/group-4-description.html
  lang/tr/emails/user_welcome.html
  lang/tr/texts/better-food-choices-for-a-better-health-lets-mobilize.html
  lang/tr/texts/blog/pages/press-release-new-app.html
  lang/tr/texts/contribute.html
  lang/tr/texts/data.html
  lang/tr/texts/dev-artificial-intelligence.html
  lang/tr/texts/dev-general.html
  lang/tr/texts/discover.html
  lang/tr/texts/eco-score-the-environmental-impact-of-food-products.html
  lang/tr/texts/education.html
Labels: open pet food facts, open beauty facts, open products facts
