Repository openfoodfacts/openfoodfacts-web, pull requests merged in 2024-04, with the labels that each got.

#567 feat: Eco-Score app promo fixes + QRCODE
  lang/en/texts/cop26/blocks/ecoscore-app-install.html
Labels: cop-26, 2024 Paris Perl Hackathon

#566 feat: NOVA QR code promo
  lang/en/texts/processing/mobile-app-promo-processing.html
Labels: nova, 2024 Paris Perl Hackathon

#565 feat: add QRCode to Nutri-Score page
  lang/en/texts/nutriscore/mobile-app-promo-nutriscore.html
Labels: 🚥 Nutri-Score, 2024 Paris Perl Hackathon

#563 docs: update info on CSV export and database dump
  lang/en/texts/data.html
Labels: Data
