Repository openfoodfacts/openfoodfacts-web, pull requests merged in 2024-02, with the labels that each got.

#505 feat: legal-and-privacy-emails
  lang/en/texts/terms-of-use.html
Labels: Terms of Use

#532 fix: udpate GSOC page
  lang/en/texts/google-summer-of-code.html
Labels: google-summer-of-code

#535 fix: privacy urls
  crowdin.yml
  lang/en/texts/legal.html
  lang/en/texts/privacy.html
Labels: crowdin, legal

#536 ci: restart staging backend on deploy
  .github/workflows/preprod-deploy.yml
Labels: github_actions

#546 fix: press kit better UI
  lang/en/texts/cop26/blocks/new-ecoscore-presskit.html
  lang/en/texts/cop26/blocks/un-sustainable-development-goals.html
  lang/en/texts/keyfacts.html
  lang/en/texts/logo.html
  lang/en/texts/numbers-selected.html
  lang/en/texts/presskit.html
Labels: cop-26, 🗞️ Press - keyfacts, 🍊 Logo Open Food Facts, 🗞️ Press - numbers-selected
